{% extends 'adminindex.html' %}

{% block body %}
<head>
<!--<style>-->
<!--thead {-->
        <!--background-color: black;-->
        <!--color: white;-->
      <!--}-->
<!--</style>-->
</head>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add Food Calories</h4>
            <!--<p class="card-description"> Add class <code>.table-hover</code>-->
            <!--</p>-->
            <form class="forms-sample" id="form1" name="form1" method="post" action="add_foodcalories1" enctype="multipart/form-data">
            <div class="table-responsive">
                <table class="table table-hover">
                        <tr>
                            <th>Food</th>
                            <td>
                            <input type="text" class="form-control" name="textfield" />
                            </td>
                        </tr>
                        <tr>
                            <th>Image</th>
                            <td>
                            <input type="file" class="form-control" name="file" required/>
                            </td>
                        </tr>
                        <tr>
                            <th>Calories</th>
                            <td>
                            <input type="number" class="form-control" name="textfield2" required/>
                            </td>
                        </tr>

                        <tr>
                            <th>Proteins</th>
                            <td>
                            <input type="number" class="form-control" name="textfield3" required/>
                            </td>
                        </tr>

                        <tr>
                            <th>Carbs</th>
                            <td>
                            <input type="number" class="form-control" name="textfield4" required/>
                            </td>
                        </tr>

                        <tr>
                            <th>Fats</th>
                            <td>
                            <input type="number" class="form-control" name="textfield5" required/>
                            </td>
                        </tr>

                        <tr>
                            <th>Fiber</th>
                            <td>
                            <input type="number" class="form-control" name="textfield6" required/>
                            </td>
                        </tr>
                        <tr>
                            <th>Quantity</th>
                            <td><select class="form-control" name="select1" required>
                                <option>regular</option>
                                <option>kilogram</option>
                                <option>Gram</option>
                                <option>Cup</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                            <input class="btn btn-outline-primary btn-fw" type="submit" name="Submit" value="Add" />
                            </td>
                        </tr>
                </table>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

