{% extends 'adminindex.html' %}

{% block body %}
<head>
<style>
thead {
        background-color: black;
        color: white;
      }
</style>
</head>
<div class="col-lg-16 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Nutritionists</h4>
            <!--<p class="card-description"> Add class <code>.table-hover</code>-->
            <!--</p>-->
            <form class="forms-sample" id="form1" name="form1" method="post" action="{% url 'add_nutritionist' %}" enctype="multipart/form-data">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Gender</th>
                            <th>Qualif</th>
                            <th>Exp</th>
                            <th>Lno</th>
                            <th>Action</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in val %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.name}}</td>
                            <td><img src="{{i.image.url}}" width="50px" height="50px"/></td>
                            <td>{{i.email}}</td>
                            <td>{{i.mobile}}</td>
                            <td>{{i.gender}}</td>
                            <td>{{i.qualification}}</td>
                            <td>{{i.experience}}</td>
                            <td>{{i.license}}</td>
                            <td><a class="btn btn-outline-success btn-fw" href="{% url 'edit_nutritionist' id=i.id %}">Edit</a></td>
                            <td><a class="btn btn-outline-danger btn-fw" href="{% url 'delete_nutritionist' id=i.id %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br>
                    <input class="btn btn-outline-primary btn-fw" type="submit" name="Submit" value="Add" />
            </div>
        </div>
    </div>
</div>

{% endblock %}



<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
<!--<form>-->
<!--<table width="455" border="1">-->
  <!--<tr>-->
    <!--<td width="20">No</td>-->
    <!--<td width="37">Name</td>-->
    <!--<td width="37">Image</td>-->
    <!--<td width="33">Email</td>-->
    <!--<td width="43">Mobile</td>-->
    <!--<td width="45">Gender</td>-->
    <!--<td width="28">Qualification</td>-->
    <!--<td width="10">Experiennce</td>-->
    <!--<td width="7">License</td>-->
  <!--</tr>-->
  <!--{% for i in val %}-->
  <!--<tr>-->
    <!--<td>{{forloop.counter}}</td>-->
    <!--<td>{{i.name}}</td>-->
    <!--<td>{{i.image}}</td>-->
    <!--<td>{{i.email}}</td>-->
    <!--<td>{{i.mobile}}</td>-->
    <!--<td>{{i.gender}}</td>-->
    <!--<td>{{i.qualification}}</td>-->
    <!--<td>{{i.experience}}</td>-->
    <!--<td>{{i.license}}</td>-->
  <!--</tr>-->
  <!--{% endfor %}-->
<!--</table>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
