{% extends 'adminindex.html' %}

{% block body %}
<head>
<style>
thead {
        background-color: black;
        color: white;
      }
</style>
</head>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Food Calories</h4>
            <!--<p class="card-description"> Add class <code>.table-hover</code>-->
            <!--</p>-->
            <form class="forms-sample" id="form1" name="form1" method="post" action="{% url 'add_foodcalories' %}">
            <div class="table-responsive">
                <table class="table table-hover datatable" >
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Food</th>
                            <th>Image</th>
                            <th>Quantity</th>
                            <th>Calories</th>
                            <th>Proteins</th>
                            <th>Carbs</th>
                            <th>Fats</th>
                            <th>Fiber</th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in val %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.food}}</td>
                            <td><img src="{{i.image.url}}" width="50px" height="50px"/></td>
                            <td>{{i.quantity}}</td>
                            <td>{{i.calories}}</td>
                            <td>{{i.proteins}}</td>
                            <td>{{i.carbs}}</td>
                            <td>{{i.fats}}</td>
                            <td>{{i.fiber}}</td>
                            <!--<td><a class="btn btn-outline-success btn-fw" href="{% url 'edit_healthblog' id=i.id %}">Edit</a></td>-->
                            <td><a class="btn btn-outline-danger btn-fw" href="{% url 'delete_foodcalories' id=i.id %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                    <br>
                    <input class="btn btn-outline-primary btn-fw" type="submit" name="Submit" value="Add" />
            </div>
        </div>
    </div>
</div>

{% endblock %}